.header-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  width: 100px;
  border-radius: 10%;
  cursor: pointer;
}

a {
  font-size: large;
  color: black;
  cursor: pointer;
}

#cart {
  margin-right: 5%;
}

.search-container {
  margin-top: 30px;
  width: 100%;
  height: 30px;
  margin-left: 35%;
}

.search-space {
  padding: 6px;
  width: 27%;
  border: 1px solid black;
}

.search-button {
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid black;
  padding: 6px;
}

.res-cards-container {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.res-logo {
  width: 210;
  height: 140px;
}

.card {
  margin: 2px;
  width: 220px;
  height: 350px;
  padding: 7px;
}

.card:hover {
  border: 1px solid black;
  cursor: pointer;
}
